/* 미디어쿼리 */

@media screen and (min-width: 360px) and (max-width: 812px){ 

    #main-menu {display: none !important;}
    .bottom{
        z-index: 105;
        position: fixed;

        width: 100vw;
        height: auto;
        padding: 3% 1%;
        bottom: 0;
        display: flex !important;
        align-items: center;
        justify-content: center;
        border-radius: 12px 12px 0 0;
        background-color: white;

        box-shadow: 0 0 24px rgba(0, 0, 0, .16);
    }
    .bottom > .bottom-inner{display: flex; align-items: center; justify-content: center;}
    .bottom > .bottom-inner > a{padding: 20px 10px;}
    .bottom > .bottom-inner > a, 
    #bottommainMenu > .bot-main-project > .bot-mainbtns{color: #151515 !important; font-size: 16px !important;}
    #bottommainMenu > .bot-main-project{float: left; padding: 20px 10px; cursor: pointer;}

    .sub-menu{
        position: fixed;
        left: 50%;
        bottom: 16px; 
        transform: translate(-50%, -50%);
        background-color: rgba(251, 251, 254, 0.86);
        backdrop-filter: blur(6px);
        width: 92vw;
        height: 164px;
        border-radius: 32px; 
    }
    .sub-menu > ul{
        width: 100%;
        height: 164px;
        display: inline-block; 
        padding: 1%; 
        align-items: center; 
        justify-content: center;  
        text-align: center;
        column-count: 2;
    }
    .sub-menu > ul > li{
        margin: 0 16px; 
        text-align: center; 
        padding: 8px 0;
        display: flex; 
        align-items: center;
        justify-content: center;
    }
    
    .body{width: 100%;}

    #scrollToTopButton {
        bottom: 15%;
        right: 1rem;
    }

    .homeSect{
        margin-top: 100vh !important;
        width: 100% !important;
        padding: 0 16px !important;
        border-radius: 0 0 24px 24px;
    }
    .bot-title{padding: 60% 11% 20% 11% !important;}
    .bot-title > h1{margin-bottom: 32px !important;}


    .about > .detail-index {display: inline !important;}
    .about > .detail-index > .doIt{margin-bottom: 56px;}

    .about > .detail-index > .tell-aboutMe{padding-bottom: 25% !important;}

    footer{padding: 5rem;}
    footer > .footer-inner > p{position: relative; top: -2.6rem;}

    /* Google */
    .modal-content {
        top: -5%;
        width: 90%;
        height: 36%;
    }
    .text-modalCont > p{padding: 0 26px;}
    .google  h1{font-size: 26px; padding-bottom: .7rem;}

    .top-bar{padding: 0 16px; width: 100%; height: 100vh; position: relative;}
    .top-bar-area{
        padding: 0 16px;
        width: 100%; 
        height: 50%; 
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -65%);
    }
    .google-speechBubble{
        width: 100%;
        height: 86px; 
        display: flex; 
        flex-flow: row nowrap; 
        align-items: center; 
        justify-content: center;
    }
    .google-speechBubble > p{font-size: 16px; padding-top: 15px;}
    .google-speechBubble > img{
        left: 0; 
        top: 0; 
        width: 100%; 
        height: 86px;
    }
    
    #section1, #section2 {padding: 0 16px; position: relative;}
    .problem > .inner{width: 100%;}
    .bubble-groups > li{width: 100%;}
    .bubble-groups li:nth-child(5){margin-top: 5rem !important;}
    .bubble{
        display: inline-block;
        width: 100% !important;
        border-radius: 1.2rem;
    }
    .bubble-groups{margin-top: 6px !important;}
    .bubble > p{padding: 3% 5%;}

    .show-proCalendar-answerAsisstant > .nowpro01 > p::before{
        content: "";
        display: inline-block;
        width: 120px;
        height: 120px;
        position: absolute;
        top: -8rem;
        left: 0rem;

        background: url("../img/hey-google-icon.svg") no-repeat center;
        background-size: contain;
    }
    
    .show-nowCalendar{margin-top: 1.5rem !important;}
    .show-nowCalendar > p {font-size: 14px;}
    .show-proCalendar-answerAsisstant{margin-top: 8rem !important;}
    
    #section2,
    #section3{margin-top: 12rem !important;}
    #section2 > .inner > .show-proCalendar-answerAsisstant > li:nth-child(n+2){left: 0;}
    .show-proCalendar-answerAsisstant > li{padding: 1% 5%;}
    .show-proCalendar-answerAsisstant > .nowpro01 {
        position: relative;
        margin-top: 32px;
        margin-left: 0;
    }
    .nowpro01 > img {position: absolute; bottom: 80px; left: 0;}
    
    .nowpro03{column-count: 2;}
    .brand-font{display: flex; flex-direction: column; flex-wrap: wrap;}
    .show-proCalendar-answerAsisstant > .nowpro03 > .brand-font > li.other-siteFont:nth-child(odd){margin-top: 32px;}
    .show-proCalendar-answerAsisstant > .nowpro03 > .brand-font > li.other-siteFont{
        text-align: center;
        width: 100%;
        height: 240px;
    }
    .show-proCalendar-answerAsisstant > .nowpro03 > .brand-font > li.other-siteFont > .otherBrand-inner{
        padding: 16px 1%;
    }
    .show-proCalendar-answerAsisstant > .nowpro03 > .brand-font > li.other-siteFont > .otherBrand-inner > .brand-logo > p{font-size: 15px;}
    .show-proCalendar-answerAsisstant > .nowpro03 > .brand-font > li.other-siteFont > .otherBrand-inner > .other-font-size{padding: 0 8px;}
    .show-proCalendar-answerAsisstant > .nowpro03 > .brand-font > li.other-siteFont > .otherBrand-inner > .other-font-size > p{text-align: left; font-size: 16px; margin-bottom: .2rem; line-height: 1.5rem !important;}
    .show-proCalendar-answerAsisstant li:last-child{margin-bottom: 0rem;}
    .btnSize-otherBrand{padding: 16px 4px 0 0;}
    
    #section3 > .inner > .layout-topTitle{padding: 6rem 16px 2.2rem 16px;}

    .develop-layoutImg {padding: 0 16px; width: 100%; height: auto; padding-bottom: 6rem !important;}
    .develop-layoutImg > .devel-imgGruop{width: 100%; display: inline-block;}
    .develop-layoutImg > .devel-imgGruop > .video-group {width: 100%;}
    .develop-layoutImg > .devel-imgGruop > .video-group > video {width: 100%;}
    .develop-layoutImg > .devel-imgGruop > .video-group > video:first-child{margin-bottom: 2rem;}

    .layout-topTitle{padding-top: 6rem !important;}
    .flow-analysisInner{padding: 0 16px;}
    .what-user-calendarPurpos > .search-pos-group{padding: 1rem 0 0 1rem;}
    .flow-analysisInner > .what-user-calendarPurpos > .search-pos-group > li {font-size: 16px;}
    
    .what-user-calendarPurpos{margin-bottom: 4.5rem !important;}
    .what-user-calendarPurpos > .search-pos-group {margin-left: 0;}
    .what-calendar-serviceNow{position: relative; width: 100%;}
    .title-search-user{padding: 1rem 2rem; display: flex; gap: 2.2rem; align-items: center; justify-content: space-between;}
    .title-search-user > p:first-child{width: 200px;}

    .what-calendar-serviceNow > p:first-child{width: 220px;}
    .what-calendar-serviceNow > .lendar-service-group{
        text-align: left;
        width: 100%; 
        align-items: center;
    }
    .what-calendar-serviceNow > .lendar-service-group > li.service-item{   
        display: flex;
        align-items: center;
        justify-content:flex-start;
        gap: 2rem;
        text-align: left;
        margin-bottom: 3rem;      
        -moz-columns: 2;
        -webkit-columns: 2;
        columns: 2;
    }
    .what-calendar-serviceNow > .lendar-service-group > li.service-item > div{
        width: 100%;
        position: relative; 
        right: 0%;
    }

    @media screen and (min-width: 359px) and (max-width: 376px){
        #section2 > .inner > .top-showPro > h1{width: 220px; text-align: center; margin: 0 auto;}
        .show-proCalendar-answerAsisstant > .nowpro01 > p{width: 280px;}
        #section3 > .inner > .layout-topTitle:nth-child(1) > h1{width: 240px; text-align: left;}
        .develop-layoutImg > .devel-imgGruop > p{width: 296px;}
        .what-google-noService > .title-group-noService > p{width: 220px; margin-bottom: 6px !important;}
        .end-analysis > p{width: 260px; margin: 0 auto;}
        #section5 > .inner > h1:first-child{width: 200px; margin: 0 auto;}
    }

    .calendar-checkLayout{padding: 2rem 0 1rem 0;}
    .calendar-serch-chcek{padding: 0 0 3rem 0;}

    .end-analysis{padding-bottom: 3rem;}

    #section5{padding: 0 16px; margin-top: 12rem !important;}
    .update-group{margin-top: 0 !important;}
    .update-group > li:first-child{margin: 2rem 0 0 0 !important;}
    .in-updata-group{border-left: none;}

    #section6{margin: 12rem 0 !important;}
    #section6 > .visual-sec02-popup > .title > p{width: 260px; margin: 0 auto;}
    .visual-sec02-popup{padding: 0 16px;}
    .visual-sec02-popup > .title > img{width: 100%; margin-top: 2rem;}
    .motion-service-vlsual{width: 100%;}
    .menuBar-imgGroup > video,
    .menuBar-imgGroup > .direct-menuBar > video {width: 100%;}
    .motion-service-vlsual > .about-new-service{margin-left: 0;}
    
    .visual-sec03-service-menubar{padding: 0 16px;}
    
    .visual-sec04-calendar-bookmark{padding: 4rem 16px;}
    .visual-sec04-calendar-bookmark > .bookMark-inner > .title{margin-bottom: 4rem;}
    .visual-sec04-calendar-bookmark > .bookMark-inner > img{width: 100%;}

    .visual-sec05-counting-date{padding: 0 16px;}
    .visual-sec05-counting-date > .title{display: flex; flex-direction: column;}
    .visual-sec05-counting-date > .title > h1{width: 200px; margin: 0 auto;}
    #countdown{margin: 0 auto; width: 328px; font-size: 3.5rem; margin-top: 2rem;}
    .visual-sec05-counting-date > .title > span:last-child{font-size: 1rem; margin-top: 1rem; color: #70757A;}

    .counting-typeText:nth-child(odd),
    .counting-typeText:nth-child(even){padding: 1% 4%;}

    .visual-sec05-counting-date > .bot-visual-img02{
        width: 100%; 
        margin: 36px auto; 
        border-radius: 16px; 
    }
    .visual-sec05-counting-date > .bot-visual-img02 > video{width: 100%;}

    .google-foot{background-color: #F8F9FA; margin-top: 12rem; padding: 5% 16px 80% 16px;}
    
    .footer-inner > .google-fendes{
        /* border: 1px solid red; */
        width: 100%;
        height: 280px;
        margin-bottom: 2rem;
        bottom: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .footer-text-box{padding: 2rem 0;}
    
    
    
    
    /* ah-Jeom///////////////////////// */
    /* #main-banner{border: 10px solid red;} */
    #main-banner > video{width: 100%; position: relative; top: -2.5rem;}
   
    .sec00Project-planProcess > .plans-issue {margin: 18rem auto;}
    .issue-group{margin-top: 2rem;}

    .issue-group > .isImg01{
        height: 900px;
        background: url("../img/plan01.png") no-repeat center; 
        margin-bottom: 4rem;
    }
    .issue-group > .isImg02{
        height: 2400px;
        background: url("../img/mygallerya.png") no-repeat center; 
    }


    .jeomSect{border-radius: 24px;}
    
    .pro-sec00 > .inner > .title{position: relative; top: 6rem;}
    .sec00Project-planProcess > .plansConcept-group{padding: 0 16px;}
    .sec00Project-planProcess > ol{position: relative; top: 6rem;}
    .sec00Project-planProcess > ol > li > .text-planInner{
        flex-direction: column;
        gap: 1rem;
        width: 246px;
        height: 164px;
    }
    .sec00Project-planProcess > ol > li > .text-planInner > p:first-child,
    .pro-sec00 > .inner > .title > p,
    .sec00Project-planProcess > .plans-issue > .title > p{color: #969ba0; display: block;}
    .sec00Project-planProcess > ol > li > .text-planInner > p:nth-child(1)::after{
        display: none !important;
        /* top: 70px;
        left: 143px; */
    }

    .sec00Project-planProcess > .plans-issue{position: relative; top: 11.125rem; padding: 0 16px;}
    .sec00Project-planProcess > .plans-issue > .title{width: 328px; margin: 0 auto;}

    .sec00Project-planProcess > .plans-issue > img,
    .sec00Project-planProcess > .plans-issue > .mygallerya > img{width: 100%;}

    .pro-sec01{margin-top: 22rem; padding: 0 16px; overflow: hidden;}
    .pro-sec01 > .inner > .title{width: 260px; margin: 0 auto;}
    .pro-sec01 > .inner > .title > p,
    .pro-sec02 > .inner > .title > p{color: #969ba0;}
    .proto-sec01-video{
        overflow: hidden; 
        width: 100% !important; 
        height: 280px !important;

        margin-top: 2rem;

        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
    }
    .proto-sec01-video > video{
        width: 500px; 
        height: auto; 
    }

    .pro-sec02{margin: 12rem 0;}
    .pro-sec02 > .inner > .title{width: 280px; margin: 0 auto;}
    .moblie-sec02-imgGroup{
        /* border: 1px solid red; */
        overflow: hidden; 
        padding: 0 16px;
        width: 100%; 
        height: auto;
        margin-top: 4rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .moblie-sec02-imgGroup > img{
        position: relative;
        left: 2rem;
        width: 406px;
        height: auto;
    }
    .pro-sec03 > .inner > .title{padding: 0 16px; width: 360px;}

    .pro-sec04{margin: 12rem 0; padding: 0 16px; width: 100%; height: 1800px;}
    .fontStyle-imgGroup{
        top: 5rem; 
        width: 100%; 
        height: 100%; 
        text-align: center;
    }
    .sec04-img-group{position: relative;}
    .fontStyle-imgGroup > img{
        width: 328px; 
        height: 33.75rem;
    }
    .sec04-img-group{width: 100%; margin-top: 1rem; text-align: center;}
    .sec04-img-group > li{
        text-align: center;
        width: 328px; 
        height: 112px;
        margin: 0 auto 6px auto;
    }

    .play-proto > .wb-01{padding: 0 16px;}
    .wb-01{height: 80rem;}
    .wb-01 > .inner > .white-title{width: 280px; margin: 0 auto;}
    .protos-wb01{
        width: 100%; 
        height: 400px; 
        position: relative; 
        top: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .protos-wb01 > video{width: 560px; height: auto;}

    .white-title > h1{line-height: 5rem; margin-bottom: 2rem;}
    .protos-wb02{
        padding: 0 16px; 
        width: 100%;
        height: auto;
    
        display: flex; 
        align-items: center; 
        justify-content: center; 
        padding-bottom: 20px;
    }
    .protos-wb02 > .items-wb02Group {
        position: relative;
        width: 100%; 
        height: 640px;
        margin-top: 40px;
        overflow: hidden;
    }

    .protos-wb02 > .items-wb02Group > li{
        position: absolute;
    }

    .items-wb02Group > .prtoMoblie-itemWb02:nth-child(odd),
    .items-wb03Group > .custom-item{width: 200px; height: 426px;}
    .items-wb02Group > .prtoMoblie-itemWb02:nth-child(1){bottom: -14rem; left: -10rem;}
    .items-wb02Group > .prtoMoblie-itemWb02:nth-child(3){top: 50%; left: 50%; margin-left: -100px; margin-top: -213px;}
    .items-wb02Group > .prtoMoblie-itemWb02:nth-child(5){top: -10rem; right: -10rem;}
    
    .items-wb02Group > .prtoMoblie-itemWb02:nth-child(even){width: 160px; height: 160px;}
    .items-wb02Group > .prtoMoblie-itemWb02:nth-child(2){top: -5.2rem; left: -2rem;}
    .items-wb02Group > .prtoMoblie-itemWb02:nth-child(4){bottom: -6rem; right: -2rem;}
    
    .wb-03{padding: 0 16px;}
    .wb-03 > .inner > .custom-cont{
        position: relative;
        width: 100%; 
        height: 1800px;
        /* border: 1px solid red; */

    }
    .proto-wb03 > .white-title > p {width: 200px;}
    .custom-cont > .protoImages-showGroup{
        width: 328px;
        height: 73.38rem;
        margin-left: -164px;
        position: absolute !important;
        top: 40.7rem;
        left: 50%;
    }
    .items-wb03Group > .custom-item:nth-child(1){top: 18rem; left: 0;}
    .items-wb03Group > .custom-item:nth-child(2){top: 0; right: 0; box-shadow: 0 4px 16px rgba(19, 23, 26, 0.4);}
    .items-wb03Group > .custom-item:nth-child(3){bottom: 0em; right: 0;}

    .custom-cont > .white-title{float: left;}
    .wb-03 > .inner > .custom-cont > .white-title > p {
        position: relative;
        top: -11.5rem;
        left: 4px;
        margin-top: 0; 
        padding-left: 0;
    }

    .pro-sec04 > .inner > .title > p{width: 250px;}

    .buy-cont{margin-top: 12rem; width: 100%; position: relative;}
    .buy-cont > .white-title{margin-bottom: 4rem;}
    .buy-cont > .protoImages-showGroup{padding: 0 2rem;}
    .buy-cont > .protoImages-showGroup > .souse > img{border-radius: 16px;}
    .protoImages-showGroup,
    .protoImages-showGroup > .souse{
        display: flex; 
        align-items: center; 
        justify-content: center; 
        width: 100%; 
        margin: 0 auto;
    }
    .protoImages-showGroup > .souse > img{width: 100%; margin: 0 auto; border: 2px solid #151515;}

    .end-cont{width: 100%; margin: 6rem auto 0 auto;}
    .protoImages-showGroup > .items-end{
        width: 328px;
        columns: 2;
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        padding-bottom: 2rem;
    }
    .protoImages-showGroup > .items-end > .end-item{
        margin-bottom: 4px;
        width: 100%;
        height: 324px;
    }

    /* Somethm///////////////////////// */
    .some-sec{width: 100%; overflow: hidden; position: relative;}
    .some-sec > .conts { margin: 0 auto; text-align: center;}

    .some-sec > .con01,
    .some-sec > .con02,
    .some-sec > .con03,
    .some-sec > .con04,
    .some-sec > .con05,
    .some-sec > .con06{padding: 0 16px;}

    .some-sec > .con01{text-align: center; height: 640px; background: url("../img/some-01.png") no-repeat center bottom;}
    .some-sec > .con02{text-align: center; height: 983px; background: url("../img/some-02.png") no-repeat center top;}
    .some-sec > .con03{text-align: center; height: 4113px; background: url("../img/some-03.png") no-repeat center bottom 40px;}
    .some-sec > .con04{text-align: center; height: 3964px; background: url("../img/some-04.png") no-repeat center bottom 40px;}
    .some-sec > .con05{text-align: center; height: 991px; background: url("../img/some-05.png") no-repeat center bottom 40px;}
    .some-sec > .con06{text-align: center; height: 815px; background: url("../img/some-06.png") no-repeat center bottom 40px;}
    
    .some-sec > .con07{
        width: 100vw;
        height: 1053px; 
        text-align: center; 
        background: url("../img/some-07bg.png") no-repeat; 
        background-size: cover;
    }
    .some-sec > .con07 > .in-con{
        position: relative;
        top: 84px;
        height: 909px; 
        text-align: center; 
        background: url("../img/some-07.png") no-repeat center;
    }

    .some08{position: relative; bottom: 0;}
    .some-sec > .con08{
        /* border: 10px solid red; */
        width: 100%;
        height: auto;
        padding: 20rem 0; 
        background: url("../img/some-08.png") no-repeat left 16px top 84px;

        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;
        position: relative;
    }

    .img-vidoe-group{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        position: relative;
        top: -3%;
        margin: 20% 0;
    }
    .some-sec > .con08 > .bot-img{
        margin-top: 10%;
        position: absolute;
        bottom: 30px;
        text-align: center;
        width: 100vw;
        height: 300px;
        background: url("../img/some-08bg.png") no-repeat center;
    }
    .update-group > .up-item{margin: 3.5rem 0 !important;}
    .update-group > .up-item::before{display: none !important;}
    .in-updata-group{margin-top: 16px;}
    .in-updata-group > li{padding: 0 !important;}
    .in-updata-group > li > span{margin-left: 2rem; line-height: 2rem;}



}







/*//// (min-width: 2559px) and (max-width: 3072px) ///////////////////*/
@media screen and (min-width: 1920px) and (max-width: 3073px){

    .body{min-width: 1000px;}
    .title > h1{font-size: 1.778rem; margin-bottom: 0.75rem;}


    #scrollToTopButton {
        bottom: 46px;
        right: 46px;
    }
    
    /* Modal */
    .modal-content {
        top: -25%;
        width: 20%;
        height: 22%;
    }

    /* Google///////////////////////// */
    #section1,
    #section2,
    #section4{padding: 0 18rem;}
    #section5{padding: 0 24rem;}
    
    .sub-menu{
        top: 50%; 
        left: -5%; 
        transform: translate(-50%, -50%); 
    }
    .sub-menu.visible{left: 4%;}
    .sub-menu > ul > li{margin-bottom: 0.556rem;}

    .top-bar-area{padding: 15rem 0;}
    .google-speechBubble{display: inline-block;}
    .google-speechBubble > img{
        left: -2rem; 
        top: -2.5rem; 
        width: 22.8rem; 
        height: 6rem;
    }


    .bubble{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1% .5%;
        border-radius: 2.5rem;
    }

    .bubble-groups > li > p,
    .pro-asisstant-answer > p,
    .show-proBubbles > p,
    .pro-asisstant-answer > .asisstant-speech p{padding-left: 2rem;}

    .show-proCalendar-answerAsisstant > li:nth-child(n+2){left: 120px;}
    .show-proCalendar-answerAsisstant .nowpro01 {margin-left: 120PX;}

    .show-proCalendar-answerAsisstant > .nowpro01 > p::before{
        content: "";
        display: inline-block;
        width: 120px;
        height: 120px;
        position: absolute;
        top: -1.5rem;
        left: -7rem;

        background: url("../img/hey-google-icon.svg") no-repeat center;
        background-size: contain;
    }

    .show-proCalendar-answerAsisstant{margin-top: 6rem; text-align: center;}

    .show-proCalendar-answerAsisstant > .nowpro03 > .brand-font > li.other-siteFont{
        width: 17rem;
        height: 11rem;
        margin: 2rem 1rem 4rem 0;
    }

    /*/////// 캘린더의 레이아웃을 변경합니다. */
    .btnSize-otherBrand{
        padding: 1% 3rem;
    }
    
    .btnSize-otherBrand{left: 120px;}

    .develop-layoutImg{
        position: relative; 
        display: flex; 
        align-items: center; 
        padding-bottom: 7.9rem;
    }


    @media screen and (min-width: 2561px) and (max-width: 3072px){
        /* html{background-color: aqua;} */

        /* 구글 ////////////////////////////////////////////////*/
        /*/////// 서비스 문제점을 분석할게요. */
        .flow-analysisInner{padding: 0 42rem;}
        .what-user-calendarPurpos{padding: 0 5rem;}
        .what-calendar-serviceNow > .lendar-service-group{gap: 1rem;}
        .what-calendar-serviceNow{padding: 0 1rem;}

        /*/////// 장기 스케줄 색갈 책갈피 */
        .visual-sec05-counting-date > .bot-visual-img02{width: 50% !important;}

        .visual-sec04-calendar-bookmark > .bookMark-inner{
            padding: 0 28rem;
            display: flex; 
            gap: 12rem;
            align-items: center;
            justify-content: space-between;
        }
        .visual-sec04-calendar-bookmark > .bookMark-inner > .title{width: 50%;}




        /* 아제옴 ////////////////////////////////////////////////*/


    }
    @media screen and (min-width: 1921px) and (max-width: 2561px){
        /* html{background-color: red;} */

        /* 구글 ////////////////////////////////////////////////*/
        /*/////// 서비스 문제점을 분석할게요. */
        .flow-analysisInner{padding: 0 24rem;} 
        .what-user-calendarPurpos{padding: 0 10rem;}
        .what-calendar-serviceNow > .lendar-service-group{gap: 1rem;}
        .what-calendar-serviceNow{padding: 0 4rem;}

        /*/////// 장기 스케줄 색갈 책갈피 */
        .visual-sec05-counting-date > .bot-visual-img02{width: 50% !important;}

        .visual-sec04-calendar-bookmark > .bookMark-inner{
            padding: 0 14rem;
            display: flex; 
            gap: 12rem;
            align-items: center;
            justify-content: space-between;
        }
        .visual-sec04-calendar-bookmark > .bookMark-inner > .title{width: 50%;}




        /* 아제옴 ////////////////////////////////////////////////*/


    }
    @media screen and (max-width: 1921px){
        /* html{background-color: green;} */

        /* 구글 ////////////////////////////////////////////////*/
        .modal-content {
            width: 26% !important;
            height: 28% !important;
        }
        
        .what-user-calendarPurpos{padding: 0 10rem;}
        .what-calendar-serviceNow > .lendar-service-group{gap: 1rem;}
        .what-calendar-serviceNow{padding: 0 1rem;}

        .visual-sec05-counting-date > .bot-visual-img02{
            width: 60% !important; 
        }



        
        /* 아제옴 ////////////////////////////////////////////////*/


    }


    /*/////// 서비스 문제점을 분석할게요. */
    .what-user-calendarPurpos > .search-pos-group{margin-top: 2rem;}
    .what-user-calendarPurpos > .search-pos-group{margin-left: 3.2rem;}
    .title-search-user > p{padding: 1.5rem 2rem;}
    .title-search-user > img{padding-right: 3.2rem;}
    
    /*/////// 현재 구글 캘린더의 서비스에는 어떤 기능이 제공되어지나요? (이미지 4개) */
    .what-calendar-serviceNow > .lendar-service-group{display: flex; align-items: center; display: flex; gap: 1rem;}
    .what-calendar-serviceNow > .lendar-service-group > li{
        width: 100%; 
        height: 18rem; 
    }
    .name-service > p{margin-top: 1rem;}
    
    /*/////// 스케쥴 전체 확인 목록표 img */
    .calendar-checkLayout,
    .calendar-serch-chcek{padding: 4rem 0;}
    
    .end-analysis{padding-bottom: 5rem;}

        /*/////// 직관적인 서비스 메뉴 구성 */
        .motion-service-vlsual{
            display: inline-block;
            text-align: center;
        }
        
        .about-new-service{
            width: fit-content; 
            display: flex; 
            flex-direction: column;
            margin-top: 2rem;
        }
        
        .about-new-service > h3,
        .about-new-service > p {
            display: inline-block;
        }
        .about-new-service > p{margin-top: 0 !important;}

    /* section 5 ////////*/
    #section5 > .inner > .items-data{width: 60%; margin: 3rem auto 0 auto;}
    .in-updata-group{margin: 1rem 0; border-left: 3px dashed #E4E4E4;}
    .in-updata-group > li > span{margin-left: 3rem; position: relative;}

    .main-visual{margin: 15rem 0;}
    .visual-sec04-calendar-bookmark {padding: 5rem 18rem;  display: flex; align-items: center; justify-content: space-between ; }


    .visual-sec02-popup > .title > img{width: 60%; margin-top: 3rem;}
    .visual-sec04-calendar-bookmark > .bookMark-inner{display: flex; gap: 12rem; align-items: center; justify-content: space-between;}
    .visual-sec04-calendar-bookmark > .bookMark-inner > .title{padding-bottom: 10rem;}
    .visual-sec04-calendar-bookmark > .bookMark-inner > .title > p{white-space: pre-wrap; text-align: left; line-height: 28px;}
    .visual-sec04-calendar-bookmark > .bookMark-inner > img{width: 28.125rem; height: 32.5rem;}

    .counting-typeText:nth-child(odd){padding: .5% 1.5%;}
    .counting-typeText:nth-child(even){padding: .8% 2%;}

    .visual-sec05-counting-date{width: 100%; position: relative;}
    .visual-sec05-counting-date > .bot-visual-img02{
        margin: 36px auto; 
        border-radius: 24px; 
    }
    .visual-sec05-counting-date > .bot-visual-img02 > video{width: 100%;}


    footer{padding: 5rem;}
    .google-foot{background-color: #F8F9FA; margin-top: 12rem; padding: 5% 0 2% 0;}
    .footer-inner > .google-fendes{
        margin-bottom: 2rem;
        bottom: -60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .footer-inner > .google-fendes{
        width: 31.5rem; 
        height: 22rem;
    }





    /* ah-Jeom///////////////////////// */
s    .pro-sec00{margin: 22.222rem auto;}
    .sec00Project-planProcess > ol > li > .text-planInner > p:nth-child(1){margin-right: 13.333rem;}
    .sec00Project-planProcess > ol > li > .text-planInner > p:nth-child(1)::after{
        top: 14px;
        left: 308px;
    }
    .sec00Project-planProcess > .plans-issue {margin: 18rem auto;}
    .sec00Project-planProcess > .plans-issue > .title > p{display: block;}
    .issue-group{margin-top: 2rem;}

    .issue-group > .imgIS{
        position: relative;
        left: 2rem;
        display: inline; 
        width: 100%;
    }
    
    .issue-group > .isImg01{
        height: 1416px;
        background: url("../img/plan01.png") no-repeat center; 
        margin-bottom: 4rem;
    }
    .issue-group > .isImg02{
        height: 2400px;
        background: url("../img/mygallerya.png") no-repeat center; 
    }


    .proto-sec01-video > video{width: 100vw; height: 100%;}
    .pro-sec03{margin-bottom: 22.222rem;}
    .pro-sec04{margin-bottom: 22.222rem;}

    .fontStyle-imgGroup{
        top: 0; 
        width: 100%; 
        height: 100%; 
        display: flex; 
        align-items: center;
    }
    .sec04-img-group{margin-top: 200px;}
    .fontStrong-sec04{margin-bottom: 12px;}
    .fontStyle-imgGroup > img{
        position: absolute; 
        top: -7.5rem; 
        width: 20rem; 
        height: 33.75rem;
    }
    .sec04-img-group > li{
        width: 22rem; 
        height: 7.5rem;
        margin-bottom: 4px;
    }
    
    .wb-01{height: 1560px;}
    .protos-wb01{
        width: 100%; 
        height: 846px; 
        position: relative; 
        top: 40px;
    }
    .protos-wb01 > video{width: 100%; height: 100%;}

    .wb-02 > .inner{
        /* border: 1px solid red; */
        /* width: 80%; */
        margin: 0 auto;
        display: flex; 
        align-items: center; 
        justify-content: space-between;
    }

    .wb-02 > .inner > .white-title{width: 30%; text-align: left; margin-left: 20rem;}   
    .wb-02 > .inner > .white-title > p{padding-bottom: 160px;}
    .wb-03 > .inner > .proto-wb03 > .white-title > p{margin-bottom: 40px; padding-left: .5rem;}
    
    .items-wb02Group{position: relative; width: 100%;  height: 1080px; overflow: hidden;}
    .items-wb02Group > .prtoMoblie-itemWb02{
        width: 300px; 
    }
    .items-wb02Group > .prtoMoblie-itemWb02:nth-child(odd){height: 640px;}
    .items-wb02Group > .prtoMoblie-itemWb02:nth-child(1){bottom: -235px; left: 190px;}
    .items-wb02Group > .prtoMoblie-itemWb02:nth-child(3){top: 20%; right: 400px;}
    .items-wb02Group > .prtoMoblie-itemWb02:nth-child(5){top: -235px; right: -150px;}
    
    .items-wb02Group > .prtoMoblie-itemWb02:nth-child(even){width: 220px; height: 220px;}
    .items-wb02Group > .prtoMoblie-itemWb02:nth-child(2){top: -23px; left: 380px;}
    .items-wb02Group > .prtoMoblie-itemWb02:nth-child(4){bottom: -135px; right: 137px;}
    
    .wb-03{height: 3800px;}

    .group-keywords{position: relative; top: 3rem; width: 100%; height: 108px;}
    .group-keywords > span{position: relative; top: 0rem;}

    .custom-cont{display: flex; justify-content: space-between; position: relative; height: 1500px;}
    .custom-cont > .protoImages-showGroup{margin-top: 160px; width: 62%; height: 100%;}
    .custom-cont > .white-title{margin-top: 160px; width: 34%;}
    .items-wb03Group > .custom-item{width: 300px; height: 640px;}
    .items-wb03Group > .custom-item:nth-child(1){top: 380px; right: 316px;}
    .items-wb03Group > .custom-item:nth-child(2){top: 0; right: 0;}
    .items-wb03Group > .custom-item:nth-child(3){top: 672px; right: 0;}
    

    .buy-cont{width: 86%; margin: 380px auto 0 auto; display: flex; gap: 24%; align-items: center; justify-content: center;}
    .protoImages-showGroup > .items-end{display: flex; gap: 16px; align-items: center; justify-content: center;}

    .end-cont{width: 86%; margin: 380px auto 0 auto;}
    .protoImages-showGroup > .items-end > .end-item{
        width: 300px; 
        height: 640px; 
    }

    .souse{width: 360px; height: 740px; overflow: hidden; border: 2px solid #151515; border-radius: 12px;}
    .souse > img{width: 100%; height: auto;}


    /* Somethm///////////////////////// */
    .some-sec > .conts {width: 90%; background-size: cover;}

    .some-sec > .con01{text-align: center; height: 540px; background: url("../img/some01.png") no-repeat center center;}
    .some-sec > .con02{text-align: center; height: 930px; background: url("../img/some02.png") no-repeat center center;}
    .some-sec > .con03{text-align: center; height: 1800px; background: url("../img/some03.png") no-repeat center center;}
    .some-sec > .con04{text-align: center; height: 5730px; background: url("../img/some04.png") no-repeat center center;}
    .some-sec > .con05{text-align: center; height: 1080px; background: url("../img/some05.png") no-repeat center center;}
    .some-sec > .con06{text-align: center; height: 1207px; background: url("../img/some06.png") no-repeat center center;}
    .some-sec > .con07{text-align: center; height: 1207px; background: url("../img/some07.png") no-repeat center center;}
    .some-sec > .con08{text-align: center; height: 1884px; background: url("../img/some08.png") no-repeat center center;}
    .con08{
        /* border: 1px solid red;  */
        display: flex;

        align-items: center;
        justify-content: center;
        position: relative; 
        width: 100%; 
        height: 100%;
    }
    .img-vidoe-group{
        /* border: 1px solid red;  */
        width: 100%;
        /* height: 100%; */
        position: relative;
        top: 8%;
    }
    .pro-sec02{margin: 22.222rem 0;}
    .pro-sec02 > .inner {display: flex; align-items: center; justify-content: space-between;}
    .pro-sec02 > .inner > .title{text-align: left; margin-bottom: 230px;}

}







/*//// (min-width: 1080px) and (max-width: 1920px) ///////////////////*/
@media screen and (min-width: 1080px) and (max-width: 1920px){
   /* body {
        background-color: green !important;
    }  */

    /* google //////*/
    .modal-content{top: -20%;}
    .problems, .show-problems{padding: 2.5rem 14rem;}
    .flow-analysisInner{padding: 0 10rem 8.4rem 10rem;}
    .items-data{width: 50%; margin: auto;}

    .bubble-groups li:first-child::before, 
    .pro-asisstant-answer .asisstant-speech::before,
    .bubble-groups li:nth-child(5)::after,
    .show-proCalendar-answerAsisstant .nowpro04::before,
    .show-proCalendar-answerAsisstant .nowpro04::before{width: 4rem !important; height: 2.1rem !important;}

    .bubble-groups li:first-child::before, 
    .pro-asisstant-answer .asisstant-speech::before,
    .bubble-groups li:nth-child(5)::after,
    .show-proCalendar-answerAsisstant .nowpro04::before {top: -.54rem !important;}
    .show-proCalendar-answerAsisstant .nowpro04::before{top: -.5rem !important;}

    #section2,
    #section3 {padding: 0 12rem;}
    .what-user-calendarPurpos{padding: 0 6rem;}
    #section3 > .inner > .develop-layoutImg > .devel-imgGruop{margin: auto; width: 1320px; position: relative;}
    #section3 > .inner > .develop-layoutImg > .devel-imgGruop > .video-group{width: 100%; display: flex; align-items: center; justify-content: space-between;}
    #section3 > .inner > .develop-layoutImg > .devel-imgGruop > .video-group > video{width: 49%;}
    .develop-layoutImg > .devel-imgGruop > .video-group > video:first-child{margin-right: 1rem !important;}

    .items-data{width: 40%; margin: auto;}

    .motion-service-vlsual > .menuBar-imgGroup > .direct-menuBar {width: 100%; margin: auto;}

    .visual-sec04-calendar-bookmark > .bookMark-inner{width: 100%;}





    
    /* ah-jeom //////*/
    video.background-image{
        width: 100vw; 
        height: 100vh;
        position: absolute; 
        top: -12.5%;
    }

    .jeomSect{padding: 9rem 0;}

    .pro-sec01 > .inner > .title{padding: 0 16.667rem;}
    .sec00Project-planProcess > ol{width: 100%; padding: 0 14rem; text-align: center; justify-content: left; margin: 0 auto;}
    .sec00Project-planProcess > ol > li{float: left; display: block;}
    .sec00Project-planProcess > ol > li > .text-planInner{align-items: center; justify-content: left;}

    .pro-sec02{padding: 0 13rem; width: 100%; height: auto; overflow: hidden;} 
    .pro-sec02 > .inner {gap: 0px; position: relative; left: 5%;}
    .sec01-gallrey-group > .lineBoxs > .line-box{width: 100%; padding: 0 42rem;}

    .ci1{top: -3px; right: -6rem;}
    .ci2{top: -3px; left: -2rem;}
    .ci3{top: -7.1rem; right: -6rem;}
    .ci4{top: -7.16rem; right: -6rem;}

    .line-box > .lineBoxs-inner > span.sizeName2{top: -2rem; right: -6rem;}
    .line-box > .lineBoxs-inner > span.sizeName3{top: -44px; left: -2rem;}
    .line-box > .lineBoxs-inner > span.sizeName4{top: -6.4rem; right: -6rem;}
    .line-box > .lineBoxs-inner > span.sizeName5{top: -6.4rem; right: -6rem;}

    .wb-02 > .inner > .white-title{margin-left: 6rem !important;}
    .pro-sec03 > .inner > .title{padding: 0 16.667rem;}

    .pro-sec04{padding: 80px 12rem;}
    .pro-sec04 > .inner{width: 52%;}
    
    .wb-03{padding: 0 0;}
    .custom-cont{width: 86%;}

    .fontStyle-imgGroup > img{right: -16px;}


}
