/* 미디어쿼리 */
@media screen and (min-width: 1080px) and (max-width: 3073px){
    .body{min-width: 1000px;}

    #scrollToTopButton {
        bottom: 46px;
        right: 46px;
    }
    
    /* Modal */
    .modal-content {
        top: -25%;
        width: 24%;
        height: 26%;
    }

    /* Google///////////////////////// */
    #section1,
    #section2,
    #section4{padding: 0 18rem;}
    #section5{padding: 0 24rem;}
    
    .sub-menu{
        top: 50%; 
        left: -5%; 
        transform: translate(-50%, -50%); 
    }
    .sub-menu.visible{left: 4%;}
    .sub-menu > ul > li{margin-bottom: 0.556rem;}

    .top-bar-area{padding: 15rem 0;}

    .bubble{
        display: flex;
        align-items: center;
        padding: 1% .5%;
    }

    .bubble-groups > li > p,
    .pro-asisstant-answer > p,
    .show-proBubbles > p,
    .pro-asisstant-answer > .asisstant-speech p{padding-left: 2rem;}

    .show-proCalendar-answerAsisstant > li:nth-child(n+2){left: 120px;}
    .show-proCalendar-answerAsisstant .nowpro01 {margin-left: 120PX;}

    .show-proCalendar-answerAsisstant .nowpro01 img{position: relative; left: -120px;}
    .show-proCalendar-answerAsisstant .nowpro01 p{position: absolute; top: 1.2rem; left: 0;}

    .show-proCalendar-answerAsisstant{margin-top: 6rem; text-align: center;}

    .show-proCalendar-answerAsisstant > .nowpro03 > .brand-font > li.other-siteFont{
        width: 17rem;
        height: 11rem;
        margin: 2rem 1rem 4rem 0;
    }
    
    .btnSize-otherBrand{left: 120px;}

    .develop-layoutImg{
        position: relative; 
        display: flex; 
        align-items: center; 
        padding-bottom: 7.9rem;
    }

    .end-analysis{padding-bottom: 5rem;}

    .what-calendar-serviceNow > .lendar-service-group{display: flex; align-items: center;}
    .what-calendar-serviceNow > .lendar-service-group > li{
        width: 100%; 
        height: 18rem; 
    }
    .name-service > p{margin-top: 1rem;}

    .calendar-checkLayout,
    .calendar-serch-chcek{padding: 4rem 0;}

    #section5 > .inner > .items-data{width: 60%; margin: 3rem auto 0 auto;}
    .in-updata-group{margin: 1rem 0; border-left: 3px dashed #E4E4E4;}
    .in-updata-group > li > span{margin-left: 3rem; position: relative;}

    .visual-sec02-popup > .title > img{width: 60%;}
    .motion-service-vlsual{width: 60%;}
    .motion-service-vlsual > .about-new-service{margin-left: 2rem;}


    footer{margin-top: 10rem;}
    .google-foot{background-color: #F8F9FA; padding: 4% 0 2% 0;}
    .footer-inner > .google-fendes{
        margin-bottom: 2rem;
        bottom: -60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* Somethm///////////////////////// */
    .some-sec > .conts {width: 90%; background-size: cover;}

    .some-sec > .con01{text-align: center; height: 540px; background: url("../img/some01.png") no-repeat center center;}
    .some-sec > .con02{text-align: center; height: 930px; background: url("../img/some02.png") no-repeat center center;}
    .some-sec > .con03{text-align: center; height: 1800px; background: url("../img/some03.png") no-repeat center center;}
    .some-sec > .con04{text-align: center; height: 5730px; background: url("../img/some04.png") no-repeat center center;}
    .some-sec > .con05{text-align: center; height: 1080px; background: url("../img/some05.png") no-repeat center center;}
    .some-sec > .con06{text-align: center; height: 1207px; background: url("../img/some06.png") no-repeat center center;}
    .some-sec > .con07{text-align: center; height: 1207px; background: url("../img/some07.png") no-repeat center center;}
    .some-sec > .con08{text-align: center; height: 1884px; background: url("../img/some08.png") no-repeat center center;}
    .con08{
        /* border: 1px solid red;  */
        display: flex;

        align-items: center;
        justify-content: center;
        position: relative; 
        width: 100%; 
        height: 100%;
    }
    .img-vidoe-group{
        /* border: 1px solid red;  */
        width: 100%;
        /* height: 100%; */
        position: relative;
        top: 8%;
    }

}
@media screen and (min-width: 3071px){
    /* body{background-color: blue;} */
    
    /* google //////*/
    .problems, .show-problems{padding: 5rem 24rem;}
    .calendar-layout, .service-analysis{padding: 0 18rem;}
    .flow-analysisInner{padding: 0 40rem 8.4rem 40rem;}
    .what-user-calendarPurpos,
    .what-calendar-serviceNow,
    .what-google-noService{padding: 0;}
    .check-update{padding: 0 18rem;}
    .visual-sec03-service-menubar{padding: 0 18.75rem;}
    .visual-sec04-calendar-bookmark {padding: 5rem 18rem;}

    .items-data{width: 30%; margin: auto;}

    .visual-sec04-calendar-bookmark > .bookMark-inner{width: 60%;}



    /* ah-jeom //////*/
    video#background-image{
        width: 100vw; 
        height: auto;
        position: absolute;
        top:  -4%;
    }

    .jeomSect{padding: 9rem 0;}
    .pro-sec01 > .inner > .title{padding: 0 16.667rem;}


    .pro-sec02{padding: 0 30rem; width: 100%; height: auto; overflow: hidden;} 
    .pro-sec00, .pro-sec02 > .inner {width: 80%; margin: 0 auto; justify-content: space-between !important;}
    .pro-sec00, .pro-sec02 > .inner > .title{padding-left: 0rem;}
    .moblie-sec02-imgGroup{position: relative; left: 10rem;}

    .pro-sec03 > .inner > .title{padding: 0 41rem;}
    .sec01-gallrey-group > .lineBoxs > .line-box{width: 100%; padding: 0 42rem;}

    .ci1{top: -3px; right: 25rem;}
    .ci2{top: -3px; left: 25rem;}
    .ci3{top: -7.1rem; right: 25rem;}
    .ci4{top: -7.16rem; right: 25rem;}

    .line-box > .lineBoxs-inner > span.sizeName2{top: -2rem; right: 25rem;}
    .line-box > .lineBoxs-inner > span.sizeName3{top: -44px; left: 25rem;}
    .line-box > .lineBoxs-inner > span.sizeName4{top: -6.4rem; right: 25rem;}
    .line-box > .lineBoxs-inner > span.sizeName5{top: -6.4rem; right: 25rem;}


    .pro-sec04{padding: 80px 16rem;}
    .pro-sec04 > .inner{width: 32%;}
    .fontStyle-imgGroup > img{right: 0px;}
    
    .wb-03{padding: 0 0;}
    .custom-cont{width: 50%;}
    .custom-cont > .protoImages-showGroup{width: 58% !important;}
    .custom-cont > .white-title{margin-top: 160px; width: 34% !important; padding-right: 2rem;}


}


@media screen and (min-width: 2559px) and (max-width: 3070px){
    /* body {
        background-color: red;
    } */
 
    /* google //////*/
    .problems, .show-problems{padding: 2.5rem 18rem;}
    .flow-analysisInner{padding: 0 10rem 8.4rem 10rem;}
    .what-user-calendarPurpos,
    .what-calendar-serviceNow,
    .what-google-noService{padding: 0 18rem;}
    .items-data{width: 50%; margin: auto;}
    .motion-service-vlsual{width: 80%;}                                                                                                                                                                                                  
    .motion-service-vlsual > .about-new-service{padding-left: 56px;}


    .items-data{width: 30%; margin: auto;}

    .visual-sec04-calendar-bookmark > .bookMark-inner{width: 60%;}
    
    /* ah-jeom //////*/
    video#background-image{
        width: 100vw; 
        height: auto;
        position: absolute;
        top:  -4%;
    }

    .jeomSect{padding: 9rem 0;}
    .pro-sec01 > .inner > .title{padding: 0 16.667rem;}


    .pro-sec02{padding: 0 30rem; width: 100%; height: auto; overflow: hidden;} 
    .pro-sec00, .pro-sec02 > .inner {width: 100%;}
    .pro-sec00, .pro-sec02 > .inner > .title{padding-left: 2rem;}
    .moblie-sec02-imgGroup{position: relative; left: 10rem;}

    .pro-sec03 > .inner > .title{padding: 0 32rem;}
    .sec01-gallrey-group > .lineBoxs > .line-box{width: 100%; padding: 0 42rem;}

    .ci1{top: -3px; right: 10rem;}
    .ci2{top: -3px; left: 10rem;}
    .ci3{top: -7.1rem; right: 10rem;}
    .ci4{top: -7.16rem; right: 10rem;}

    .line-box > .lineBoxs-inner > span.sizeName2{top: -2rem; right: 10rem;}
    .line-box > .lineBoxs-inner > span.sizeName3{top: -44px; left: 10rem;}
    .line-box > .lineBoxs-inner > span.sizeName4{top: -6.4rem; right: 10rem;}
    .line-box > .lineBoxs-inner > span.sizeName5{top: -6.4rem; right: 10rem;}


    .pro-sec04{padding: 80px 16rem;}
    .pro-sec04 > .inner{width: 40%;}
    .fontStyle-imgGroup > img{right: 0px;}
    
    .wb-03{padding: 0 0;}
    .custom-cont{width: 80%;}

 
 }


@media screen and (min-width: 1080px) and (max-width: 1920px){
   /* body {
        background-color: green;
    } */

    /* google //////*/
    .problems, .show-problems{padding: 2.5rem 14rem;}
    .flow-analysisInner{padding: 0 10rem 8.4rem 10rem;}
    .items-data{width: 50%; margin: auto;}

    #section3 {padding: 0 12rem;}
    #section3 > .inner > .develop-layoutImg > .devel-imgGruop{margin: auto; width: 1320px; position: relative;}
    #section3 > .inner > .develop-layoutImg > .devel-imgGruop > .video-group{width: 100%; display: flex; align-items: center; justify-content: space-between;}
    #section3 > .inner > .develop-layoutImg > .devel-imgGruop > .video-group > video{width: 49%;}
    .develop-layoutImg > .devel-imgGruop > .video-group > video:first-child{margin-right: 1rem !important;}

    .items-data{width: 40%; margin: auto;}

    .motion-service-vlsual > .menuBar-imgGroup > .direct-menuBar {width: 100%; margin: auto;}
    .motion-service-vlsual > .menuBar-imgGroup > .direct-menuBar > video{width: 96%;}

    .visual-sec04-calendar-bookmark > .bookMark-inner{width: 100%;}





    
    /* ah-jeom //////*/
    video#background-image{
        width: 100vw; 
        height: 100vh;
        position: absolute; 
        top: -12.5%;
    }

    .jeomSect{padding: 9rem 0;}
    .pro-sec01 > .inner > .title{padding: 0 16.667rem;}

    .pro-sec02{padding: 0 13rem; width: 100%; height: auto; overflow: hidden;} 
    .pro-sec00, .pro-sec02 > .inner {gap: 0px; position: relative; left: 5%;}
    .sec01-gallrey-group > .lineBoxs > .line-box{width: 100%; padding: 0 42rem;}

    .ci1{top: -3px; right: -6rem;}
    .ci2{top: -3px; left: -2rem;}
    .ci3{top: -7.1rem; right: -6rem;}
    .ci4{top: -7.16rem; right: -6rem;}

    .line-box > .lineBoxs-inner > span.sizeName2{top: -2rem; right: -6rem;}
    .line-box > .lineBoxs-inner > span.sizeName3{top: -44px; left: -2rem;}
    .line-box > .lineBoxs-inner > span.sizeName4{top: -6.4rem; right: -6rem;}
    .line-box > .lineBoxs-inner > span.sizeName5{top: -6.4rem; right: -6rem;}

    .pro-sec03 > .inner > .title{padding: 0 16.667rem;}

    .pro-sec04{padding: 80px 12rem;}
    .pro-sec04 > .inner{width: 52%;}
    
    .wb-03{padding: 0 0;}
    .custom-cont{width: 86%;}

    .fontStyle-imgGroup > img{right: -16px;}


}

@media screen and (min-width: 360px) and (max-width: 812px){ 
    #main-menu {display: none !important;}
    .bottom{
        z-index: 101;

        width: 100%;
        height: auto;
        padding: 3% 1%;
        position: fixed;
        bottom: 0;
        display: flex !important;
        align-items: center;
        justify-content: center;
        border-radius: 12px 12px 0 0;
        background-color: white;

        box-shadow: 0 0 24px rgba(0, 0, 0, .16);
    }
    .bottom > .bottom-inner{display: flex; align-items: center; justify-content: center;}
    .bottom > .bottom-inner > a, 
    #bottommainMenu > .bot-main-project > .bot-mainbtns{color: #151515 !important; font-size: 17px !important;}
    #bottommainMenu > .bot-main-project{float: left; padding: 20px 0 20px 20px; cursor: pointer;}
    
    .body{width: 100%;}

    #scrollToTopButton {
        bottom: 11%;
        right: 26px;
    }

    .homeSect{
        margin-top: 100vh !important;
        width: 100% !important;
        padding: 0 16px !important;
        border-radius: 0 0 24px 24px;
    }
    .bot-title{padding: 60% 11% 20% 11% !important;}
    .bot-title > h1{margin-bottom: 32px !important;}



    .about > .detail-index {display: inline !important;}
    .about > .detail-index > .doIt{margin-bottom: 56px;}

    .about > .detail-index > .tell-aboutMe{padding-bottom: 25% !important;}

    /* Google */
    .modal-content {
        top: -5%;
        width: 90%;
        height: 40%;
    }
    .text-modalCont > p{padding: 0 26px;}
    .google  h1{font-size: 26px;}
    .sub-menu{
        transform: translate(-50%, -50%);
        left: 50%;
        bottom: 6%; 
        background-color: rgba(251, 251, 254, 0.86);
        backdrop-filter: blur(6px);
        width: 92%;
        height: auto;
        border-radius: 32px; 
        column-count: 2;
    }
    .sub-menu > ul{
        position: relative;
        width: 100%;
        display: flex; 
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1%; 
        align-items: center; 
        justify-content: center; 
        text-align: center;
    }
    .sub-menu > ul > li{margin: 0 16px; text-align: center; padding: 10px 16px; display: flex; align-items: center;}

    .top-bar{width: 100%; height: 100vh; position: relative;}
    .top-bar-area{
        width: 100%; 
        height: 50%; 
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -65%);
    }
    
    #section1, #section2 {padding: 0 16px; position: relative;}
    .problem > .inner{width: 100%;}
    .bubble-groups > li{width: 100%;}
    .bubble{
        display: inline-block;
        width: 100% !important;
    }
    .bubble > p{padding: 3% 5%;}

    .show-nowCalendar > p {font-size: 14px;}

    #section2 > .inner > .show-proCalendar-answerAsisstant > li:nth-child(n+2){left: 0;}
    .show-proCalendar-answerAsisstant > li{padding: 1% 5%;}
    .show-proCalendar-answerAsisstant > .nowpro01 {
        position: relative;
        margin-top: 32px;
        margin-left: 0;
    }
    .nowpro01 > img {position: absolute; bottom: 60px; left: 0;}

    .nowpro03{column-count: 2;}
    .brand-font{display: flex; flex-direction: column; flex-wrap: wrap;}
    .show-proCalendar-answerAsisstant > .nowpro03 > .brand-font > li.other-siteFont:nth-child(odd){margin-top: 32px;}
    .show-proCalendar-answerAsisstant > .nowpro03 > .brand-font > li.other-siteFont{
        text-align: center;
        width: 100%;
        height: auto;
    }
    .show-proCalendar-answerAsisstant > .nowpro03 > .brand-font > li.other-siteFont > .otherBrand-inner{padding: 16px 1%;}

    #section3 > .inner > .layout-topTitle,
    #section4 > .inner > .layout-topTitle {padding: 5rem 16px 2rem 16px;}

    .develop-layoutImg {padding: 0 16px; width: 100%; height: auto;}
    .develop-layoutImg > .devel-imgGruop{width: 100%; display: inline-block;}
    .develop-layoutImg > .devel-imgGruop > .video-group {width: 100%;}
    .develop-layoutImg > .devel-imgGruop > .video-group > video {width: 100%;}
    .develop-layoutImg > .devel-imgGruop > .video-group > video:first-child{margin-bottom: 2rem;}

    .flow-analysisInner{padding: 0 16px;}
    .what-calendar-serviceNow{position: relative; width: 100%;}
    .what-calendar-serviceNow > .lendar-service-group{
        text-align: left;
        width: 100%; 
        align-items: center;
    }
    .what-calendar-serviceNow > .lendar-service-group > li.service-item{   
        display: flex;
        align-items: center;
        justify-content:flex-start;
        gap: 2rem;
        text-align: left;
        margin-bottom: 3rem;      
        -moz-columns: 2;
        -webkit-columns: 2;
        columns: 2;
    }
    .what-calendar-serviceNow > .lendar-service-group > li.service-item > div{
        width: 100%;
        position: relative; 
        right: 0%;
    } 
    .calendar-checkLayout{padding: 2rem 0 1rem 0;}
    .calendar-serch-chcek{padding: 0 0 3rem 0;}

    .end-analysis{padding-bottom: 3rem;}

    #section5{padding: 0 16px;}
    .in-updata-group{border-left: none;}

    #section6 > .visual-sec02-popup > .title > p{padding: 0 3rem;}
    .visual-sec02-popup > .title > img{width: 100%; margin-top: 2rem;}
    .motion-service-vlsual{width: 100%;}
    .menuBar-imgGroup > video,
    .menuBar-imgGroup > .direct-menuBar > video {width: 100%;}
    .motion-service-vlsual > .about-new-service{margin-left: 0;}

    /* Somethm///////////////////////// */
    .some-sec{width: 100%; overflow: hidden; position: relative;}
    .some-sec > .conts { margin: 0 auto; text-align: center;}

    .some-sec > .con01,
    .some-sec > .con02,
    .some-sec > .con03,
    .some-sec > .con04,
    .some-sec > .con05,
    .some-sec > .con06{padding: 0 16px;}

    .some-sec > .con01{text-align: center; height: 640px; background: url("../img/some-01.png") no-repeat center bottom;}
    .some-sec > .con02{text-align: center; height: 983px; background: url("../img/some-02.png") no-repeat center top;}
    .some-sec > .con03{text-align: center; height: 4113px; background: url("../img/some-03.png") no-repeat center bottom 40px;}
    .some-sec > .con04{text-align: center; height: 3964px; background: url("../img/some-04.png") no-repeat center bottom 40px;}
    .some-sec > .con05{text-align: center; height: 991px; background: url("../img/some-05.png") no-repeat center bottom 40px;}
    .some-sec > .con06{text-align: center; height: 815px; background: url("../img/some-06.png") no-repeat center bottom 40px;}
    
    .some-sec > .con07{
        width: 100vw;
        height: 1053px; 
        text-align: center; 
        background: url("../img/some-07bg.png") no-repeat; 
        background-size: cover;
    }
    .some-sec > .con07 > .in-con{
        position: relative;
        top: 84px;
        height: 909px; 
        text-align: center; 
        background: url("../img/some-07.png") no-repeat center;
    }

    .some08{position: relative; bottom: 0;}
    .some-sec > .con08{
        /* border: 10px solid red; */
        width: 100%;
        height: auto;
        padding: 20rem 0; 
        background: url("../img/some-08.png") no-repeat left 16px top 84px;

        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;
        position: relative;
    }

    .img-vidoe-group{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        position: relative;
        top: -3%;
        margin: 20% 0;
    }
    .some-sec > .con08 > .bot-img{
        margin-top: 10%;
        position: absolute;
        bottom: 30px;
        text-align: center;
        width: 100vw;
        height: 300px;
        background: url("../img/some-08bg.png") no-repeat center;
    }
    .update-group > .up-item{margin: 3.5rem 0 !important;}
    .update-group > .up-item::before{display: none !important;}
    .in-updata-group{margin-top: 16px;}
    .in-updata-group > li{padding: 0 !important;}
    .in-updata-group > li > span{margin-left: 2rem; line-height: 2rem;}

    #section6{padding: 0 16px;}


}