



/* home /////////////////////////////*/
.homeSect{
    z-index: 97;
    opacity: 0;
    padding: 8.889rem 0;
    position: relative;
    margin-top: 50%;
    background-color: #151515; 
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.about{margin-bottom: 60px;}
.about > .title{width: 100%;  text-align: center; padding-top: 254px;}
.about > .detail-index{ margin-top: 120px; margin-bottom: 250px;}

.about > .detail-index{display: flex; align-items:baseline; justify-content: center;}
.about > .detail-index > .left-gruop{margin-right:  174px;}
.about > .detail-index > .left-gruop > .leItem-home:nth-child(1),
.about > .detail-index > .right-gruop > .riItem-home:nth-child(1){margin-bottom: 24px;}

.about > .detail-index > .left-gruop > .leItem-home,
.about > .detail-index > .right-gruop > .riItem-home{margin-bottom: 10px;}
.small-group > .sGroup-graytet{color: #ABABAB;}

/* sec-are-you */
.areYou-group > li:nth-child(2){margin-bottom: 24px !important;}

/* sec-my-info */
.sec-my-info > .title{margin-bottom: 84px;}
.sec-my-info > .detail-index{display: table; width: 55%; margin: 0 auto; }
.sec-my-info > .detail-index > .myInfo-indexs{margin-bottom: 48px;}
.sec-my-info > .detail-index > .myInfo-indexs > span{display: table-cell; vertical-align: middle; color: #ABABAB; margin-bottom: 4px;}
.sec-my-info > .detail-index > .myInfo-indexs:nth-child(4) > p{line-height: 32px;}








/* google calendar /////////////////////////////*/

/* 01 top-bar:hey google */
.top-bar-area{margin: auto; display: block; text-align: center;}
.google-assistant{padding: 3rem 0;}

.google-speechBubble{position: relative; top: 1rem;}
.google-speechBubble > img{
    position:absolute; 
}


/* 02 problems:업데이트 부탁할게! */
.problems{margin-top: 12rem;}

.bubble-groups{margin-top: 2rem;}
.bubble-groups > li{
    position: relative; 
    top: 0; 
    left: 0;

    margin-top: 1.2rem; 
}
.bubble-groups li:first-child{position: relative;}
.bubble-groups li:first-child::before,
.pro-asisstant-answer .asisstant-speech::before {  
    z-index: -1;  
    content: " ";
    background: url("../img/bubble-tail.svg") no-repeat;
    background-size: cover;
    display: inline-block;
    width: 5rem;
    height: 3.1rem;
    position: absolute;
    top: -0.75rem;
    left: -0.05rem;
}

.bubble-groups li:nth-child(5){margin-top: 7rem;}
.bubble-groups li:nth-child(5)::before{
    z-index: -100;  
    content: " ";
    background: url("../img/loding.svg") no-repeat center;
    display: inline-block;
    width: 3.2rem;
    height: 0.8rem;
    position: absolute;
    top: -2.4rem;
    left: 0;
}
.bubble-groups li:nth-child(5)::after{
    z-index: -2;  
    content: " ";
    background: url("../img/bubble-tail.svg") no-repeat;
    background-size: cover;
    display: inline-block;
    width: 5rem;
    height: 3.1rem;
    position: absolute;
    top: -0.75rem;
    left: -0.05rem;   
}

.pro-asisstant-answer{width: 100%; margin-top: 2.4rem;}
.pro-asisstant-answer img {text-align: center; position: relative; left: -2rem;}
.pro-asisstant-answer .asisstant-speech {position: relative;}



/* 03 show problems: 문제점 분석 완료, 결과 눈으로 보여주기 */
.show-problems{margin: 10rem auto 0 auto;}
.show-problems > .inner > .top-showPro{text-align: center;}
.show-nowCalendar{margin-top: 3.5rem;}
.show-nowCalendar > p {margin-bottom: 1rem; color: #70757A;}
.show-nowCalendar > img {width: 100%; height: auto;}

.show-proCalendar-answerAsisstant{margin-top: 6rem;}
.show-proCalendar-answerAsisstant li{margin-bottom: 1.3rem;}
.show-proCalendar-answerAsisstant > li:nth-child(n+2){position: relative; top: 0;}
.show-proCalendar-answerAsisstant .nowpro01 {position: relative;}

/* 다른 브랜드 폰트 소개 시간 */
.show-proCalendar-answerAsisstant > .nowpro03 > .brand-font > li.other-siteFont{
    float: left;
    background-color: #F8F9FA;
    border-radius: 0.8rem;
}
.brand-font > .other-siteFont{display: flex; align-items: center; justify-content: center;}
.brand-font > .other-siteFont > .otherBrand-inner > .brand-logo{margin-bottom: 0.5rem;}
.brand-font > .other-siteFont > .otherBrand-inner > .brand-logo img{width: 2.9rem; height: 2.9rem;}
.brand-font > .other-siteFont > .otherBrand-inner > .brand-logo > .branName{font-size: 1rem; color: #B1B5BD;}

.show-proCalendar-answerAsisstant .nowpro04 {
    position: relative;
    margin-top: 32px; 
    width: 69rem; 
    background-color: #0080FF; 
    color: white;
}
.show-proCalendar-answerAsisstant .nowpro04::before{
    z-index: -1;
    content: " ";
    background: url("../img/bubble-tail-blue.svg") no-repeat;
    background-size: cover;
    display: inline-block;
    width: 5rem;
    height: 3.1rem;
    position: absolute;
    top: -0.75rem;
    left: -0.015rem; 
}

.btnSize-otherBrand{
    position: relative;
    top: 0;
    color: #B1B5BD;
    margin-bottom: 6rem;
}
/* .btnSize-otherBrand > p{margin-bottom: 0.4rem;} */


/* 04 calendar-layout: 캘린더 디벨롭 전 후 비교*/

.develop-layoutImg{position: relative; padding-bottom: 7.9rem;}
.develop-layoutImg > .devel-imgGruop{margin: auto;}
.develop-layoutImg > .devel-imgGruop > .video-group > video{border: 0; border-radius: 8px; box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);}
.develop-layoutImg > .devel-imgGruop > .video-group > video:first-child{margin-right: 2rem;}
.develop-layoutImg > .devel-imgGruop > p{text-align: left; margin-top: 1rem; font-size: 1rem; color:#B1B5BD;}



/* 05 service-analysis: 서비스 문제 분석*/
.what-user-calendarPurpos,
.what-calendar-serviceNow,
.what-google-noService{margin-bottom: 6rem; width: 100%; position: relative;}

.title-search-user{display: flex; align-items: center; justify-content: space-between; border: 1px solid #a8adb1; border-radius: 10rem;}
.title-search-user > p{width: 100%;}

/* .what-user-calendarPurpos > .search-pos-group > li{padding-bottom: 2%;} */


.what-calendar-serviceNow > p{margin-bottom: 2rem;}
.what-calendar-serviceNow > .lendar-service-group{position: relative;}
.what-calendar-serviceNow > .lendar-service-group > li{text-align: center; margin-left: 0.5rem;}

.name-service > p{font-size: 0.875rem;}

.eache-service{margin: 0.5rem auto 0 auto; list-style-position: outside; width: 86%;}
.eache-service li{
    list-style: disc; 

    /* font */
    text-align: left; 
    font-weight: 400; 
    color: #70757A; 
    line-height: 1.5rem;
}
.eache-service li::marker{color: #70757A;}

.what-google-noService > .title-group-noService{margin-bottom: 2.8rem;}
.what-google-noService > .title-group-noService > p{margin-bottom: 0.2rem;}

.speachGroup-chcek-service{position: relative; background-color: white; border: none; border-radius: 3rem; padding: 1.5rem;}
.speachGroup-chcek-service::before{
    content: " ";
    background: url("../img/bubble-tail-white.svg") no-repeat;
    background-size: cover;
    display: inline-block;
    width: 5rem;
    height: 3.1rem;
    position: absolute;
    top: -0.75rem;
    left: -0.05rem;
}

/* 05 service-analysis: 서비스 문제 분석 내부 디자인 시작 */
.calendar-checkLayout,
.calendar-serch-chcek{text-align: center;}
.calendar-checkLayout > p,
.calendar-serch-chcek > p{margin-bottom: 1rem;}
.calendar-checkLayout > img,
.calendar-serch-chcek > img{width: 100%; height: 100%;}

.needs-text-group > .main-needs{margin-bottom: 2rem;}
.needs-text-group > .main-needs > h2{font-weight: 500; padding-top: 0.5rem;}

.analysis-needs{list-style-position: outside; padding-left: 1.2rem;}
.analysis-needs > li{list-style: disc; color: #70757A; line-height: 1.6rem; padding-bottom: 1rem;}
.analysis-needs > li:nth-child(1),
.analysis-needs > li:nth-child(4),
.analysis-needs > li:nth-child(5){color: #0080FF;}

.end-analysis{width: 100%; margin: 0 auto; text-align: center;}
.end-analysis > p{padding-top: 1rem; font-size: 1.25rem; line-height: 2rem;}


/* 06 check-update: 업데이트 내역 체크*/
.check-update{margin-top: 11.25rem; text-align: center;}

.update-group{margin: 5rem 0; text-align: left;}
.update-group > .up-item{position: relative; margin: 2.5rem 0;}
.update-group > .up-item::before{
    content: " ";
    background: url("../img/chcek-icon.png") no-repeat;
    background-size: cover;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -0.2rem;
    left: -3.2rem;
}

.in-updata-group > li{padding: 1.2% 0;}
.in-updata-group > li > span{position: relative;}
.in-updata-group > li  > span::before{
    content: " ";
    background: url("../img/70-check-icon.png") no-repeat;
    background-size: cover;
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0rem;
    left: -1.8rem;
}

/* 07 visual-banner */
.main-visual{width: 100%; text-align: center; margin: 15rem 0;}

/* 07 bg */
.visual-sec01-main-motion{width: 100%; background-color:#F8F9FA; padding: 3rem 0; margin-bottom: 14rem;}
.visual-sec02-popup,
.visual-sec05-counting-date,
.visual-sec03-service-menubar{margin-bottom: 14rem;}
.visual-sec04-calendar-bookmark{width: 100%; background-color:#F8F9FA; margin-bottom: 14rem;}

/* 07-2  modal*/
.visual-sec02-popup > .title > p > a#myBtn{text-decoration: underline; cursor: pointer;}
.visual-sec02-popup > .title > img{height: auto; margin-top: 70px;}

/* 07-3  service-menubar*/
.visual-sec03-service-menubar > .manubar-topbtn{
    font-weight: 400;
    display: inline-block;
    padding: 12px 38px;
    border-radius: 3rem;
    background-color: #D5EAFF; 
    color: #0080FF; 
    margin-bottom: 2rem;
}
.visual-sec03-service-menubar > .menubar-title{margin-bottom: 3rem;}

.motion-service-vlsual{margin: 70px auto 0 auto;}
.motion-service-vlsual > .about-new-service{text-align: left;}
.motion-service-vlsual > .about-new-service > h3{font-weight: 400; font-size: 1.25rem; margin-bottom: 0.625rem;}
.motion-service-vlsual > .about-new-service > p{color: #70757A;}

.visual-sec03-service-menubar > .menuBar-imgGroup > video{margin: 4rem 0 1.9rem 0;}
.visual-sec03-service-menubar > .menuBar-imgGroup > .list-page {width: 1360px; height: 802px; display: flex; overflow: hidden;}

/* 07-4  visual-sec04-calendar-bookmark*/
.visual-sec04-calendar-bookmark > .bookMark-inner{margin: auto;}
.visual-sec04-calendar-bookmark > .bookMark-inner > .title{text-align: left;}
.visual-sec04-calendar-bookmark > .bookMark-inner > .title > p{color: #70757A;}


/* 07-5  visual-sec05-counting-date*/
.visual-sec05-counting-date > .date-topbtn{
    font-weight: 400;
    display: inline-block;
    padding: 12px 38px;
    border-radius: 3rem;
    background-color: #F8F9FA; 
    color: #70757A; 
    margin-bottom: 2rem;
}
.visual-sec05-counting-date > .title {margin-bottom: 5.25rem;}
.visual-sec05-counting-date > .title > .date-acounting{font-size: 3rem; margin-top: 6px;}
.visual-sec05-counting-date > .title > .timer-close{font-size: 2rem;}

/* 07-6  visual-sec06-laptop*/
.visual-sec06-laptop{margin-bottom: 26.667rem;}
.visual-sec06-laptop > h1{font-size: 2rem; margin-bottom: 4rem;}

.counting-typeText{display: inline-block; margin-left: 1rem;}
.counting-typeText:nth-child(even){border-radius: 5rem;}
.counting-typeText:nth-child(even) > span{font-size: 1rem;}

.counting-typeText:nth-child(odd){border-radius: 3rem;}
.counting-typeText:nth-child(odd) > span{font-size: 1rem;}

.counting-typeText:nth-child(1){background-color: #FFD4D1;}
.counting-typeText:nth-child(2){background-color: #D5EAFF;}
.counting-typeText:nth-child(3){background-color: #D5FFD7;}
.counting-typeText:nth-child(1) > span{color: #E74343;}
.counting-typeText:nth-child(2) > span{color: #0080FF;}
.counting-typeText:nth-child(3) > span{color: #118A31;}

.visual-sec05-counting-date > .bot-visual-img02{height: auto; border: none; box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);}
.visual-sec05-counting-date > .bot-visual-img02 > img {width: 100%; height: auto;}









/* ㅏ(ah)-Jeom /////////////////////////////*/
.body{
    overflow: hidden;
    padding-top: 0;
}
/* video */
.first-sec{
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    margin: 0px auto; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    visibility: visible;
    transition: all 0.5s ease-out;
}
#background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.10);
    transition: background-color 0.5s ease;
    pointer-events: none;
}
  
video.background-image{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    transform: translate3d(0, 0, 0);
}

/* sect01 */
.jeomSect{
    z-index: 101;
    opacity: 0;
    position: relative;
    margin-top: 100vh;
    background-color: #222222; 
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.jeomSect.show,
.homeSect.show{
    opacity: 1;
    transform: translateY(0);
}

.pro-sec00 > .inner > .title,
.pro-sec01 > .inner > .title,
.pro-sec02, 
.pro-sec03 > .inner > .title{text-align: center;}
/* sect01-0 */

.sec00Project-planProcess{text-align: center;}
.sec00Project-planProcess > ol{display: inline-block; margin-top: 100px;}
.sec00Project-planProcess > ol > li{position: relative;}
.sec00Project-planProcess > ol > li:first-child{margin-bottom: 36px;}
.sec00Project-planProcess > ol > li > .text-planInner{display: flex;}
.sec00Project-planProcess > ol > li > .text-planInner > p:nth-child(1)::after{
    position: absolute;
    display: inline-block;
    width: 2rem;
    height: 15%;
    content: "";
    background: url("../img/ttext-plan-linearrow.svg") no-repeat;
    background-size: cover;
}

.sec00Project-planProcess > .plans-issue {text-align: center;}
.sec00Project-planProcess > .plans-issue > .title > p{display: block; position: relative;}
.sec00Project-planProcess > .plans-issue > .title > p:last-child{margin-bottom: 40px;}


/* sect01-1 */
.proto-sec01-video{position: relative; width: 100vw; height: 800px;}
.proto-sec01-video > video{margin: auto;}

/* sect01-2 */

/* sect01-3 */
.pro-sec03{height: 100%; position: relative;}
.pro-sec03 > .inner{height: 100%;}
.pro-sec03 > .inner > .title{text-align: left;}

.sec01-gallrey-group{position: relative; height: 52.444rem; margin-top: 60px;}
.moblie-gallery{position: absolute; left: 50%; transform: translate(-50%, 0);}
.moblie-gallery > img{width: 18.333rem; height: 52.444rem;}

.sec01-gallrey-group > .lineBoxs > .line-box{width: 100%; padding: 0 42rem}
.sec01-gallrey-group > .lineBoxs > .line-box > .lineBoxs-inner{width: 100%; position: relative;}
.sec01-gallrey-group > .lineBoxs > .line-box:nth-child(1){border-bottom: 1px solid #70757A; height: 140px;}
.sec01-gallrey-group > .lineBoxs > .line-box:nth-child(2){border-bottom: 1px solid #70757A; height: 260px;}
.sec01-gallrey-group > .lineBoxs > .line-box:nth-child(3){margin-top: 12px; border-top: 1px solid #70757A; border-bottom: 1px solid #70757A; height: 110px;}
.sec01-gallrey-group > .lineBoxs > .line-box:nth-child(4){margin-top: 15px; border-top: 1px solid #70757A; border-bottom: 1px solid #70757A; height: 126px;}

.line-box > .lineBoxs-inner > span{
    position: absolute; 
    font-size: 0.778rem; 
    color: #70757A; 
    font-weight: 400; 
}
.line-circle{position: absolute; width: 6px; height: 6px; border-radius: 50%; background-color: #D9D9D9;}


/* sect01-4 */
.pro-sec04{width: 100%; position: relative;}
.pro-sec04 > .inner{margin: 0 auto;}
.pro-sec04 > .inner > .title, .pro-sec04 > .inner > ol{text-align: left; font-weight: 400;} 
.pro-sec04 > .inner > ol.sec04-about-fontStyle1{margin: 40px 0 12px 0;}
.pro-sec04 > .inner > ol > li{font-size: 16px; color: #999999; padding: 1px 0;}
.pro-sec04 > .inner > ol > li.fontStrong-sec04{color: white;}

.fontStyle-imgGroup{
    position: relative; 
    width: 100%; 
    height: 100%; 
}
.sec04-about-fontStyle2{margin-top: 2rem;}

.sec04-img-group > li:nth-child(1){background: url("../img/about-font-style-imgLeft1.png") no-repeat center; background-size: cover;}
.sec04-img-group > li:nth-child(2){background: url("../img/about-font-style-imgLeft2.png") no-repeat center; background-size: cover;}
.sec04-img-group > li:nth-child(3){background: url("../img/about-font-style-imgLeft3.png") no-repeat center; background-size: cover;}


/* play-proto */
.play-proto{width: 100%;}

/* wb-01 */
.wb-01{width: 100%; overflow: hidden;}
.white-title{text-align: center;}
.white-title > h1{font-size: 60px; font-weight: 300; padding-top: 160px;}
.wb-01 > .inner > .white-title > h1 {padding-bottom: 24px;}


/* wb-02 */
.protos-wb02{width: 100%; height: 100%;}
.items-wb02Group > .prtoMoblie-itemWb02{
    position: absolute; 
    display: inline-block; 
    border: 2px solid black; 
    border-radius: 12px;
}
.items-wb02Group > .prtoMoblie-itemWb02:nth-child(1){background: url("../img/wb02-li-1.png") no-repeat center; background-size: cover;}
.items-wb02Group > .prtoMoblie-itemWb02:nth-child(3){background: url("../img/wb02-li-3.png") no-repeat center; background-size: cover;}
.items-wb02Group > .prtoMoblie-itemWb02:nth-child(5){background: url("../img/wb02-li-5.png") no-repeat center; background-size: cover;}

.items-wb02Group > .prtoMoblie-itemWb02:nth-child(2){display: inline-block; background: url("../img/wb02-li-2.png") no-repeat center; background-size: cover;}
.items-wb02Group > .prtoMoblie-itemWb02:nth-child(4){background: url("../img/wb02-li-4.png") no-repeat center; background-size: cover;}

/* wb-03 */
.wb-03{width: 100%;}
.wb-03 > .inner > .proto-wb03 > .white-title{text-align: left;}
.wb-03 > .inner > .proto-wb03 > .white-title > h1{margin-bottom: 40px}
.wb-03 > .inner > .proto-wb03 > .white-title > p{margin-top: 40px}
.wb-03 > .inner > .custom-cont > .white-title > p {margin-top: 1.5rem; padding-left: .5rem;}

/* custom-cont */
.custom-cont{display: flex; justify-content: space-between; position: relative; height: 1500px; margin: 0 auto;}

.custom-cont > .protoImages-showGroup{margin-top: 160px; width: 62%; height: 100%; position: relative;}
.custom-cont > .white-title{margin-top: 160px; width: 34%;}

.items-wb03Group > .custom-item{position: absolute; width: 300px; height: 640px; border: 2px solid black; border-radius: 12px;}
.items-wb03Group > .custom-item:nth-child(1){top: 380px; right: 316px; background: url("../img/Custom-01.png") no-repeat center; background-size: cover;}
.items-wb03Group > .custom-item:nth-child(2){top: 0; right: 0; background: url("../img/Custom-02.png") no-repeat center; background-size: cover;}
.items-wb03Group > .custom-item:nth-child(3){top: 672px; right: 0; background: url("../img/Custom-03.png") no-repeat center; background-size: cover;}


.buy-cont{width: 86%; margin: 380px auto 0 auto; display: flex; gap: 24%; align-items: center; justify-content: center;}
.buy-cont > .white-title > h1{padding-top: 0;}
/* .buy-cont > .protoImages-showGroup > .souse {
    width: 300px; 
    height: 640px; 
    border: 2px solid black; 
    border-radius: 12px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
} */

.end-cont{width: 86%; margin: 380px auto 0 auto;}
.protoImages-showGroup > .items-end{display: flex; gap: 16px; align-items: center; justify-content: center;}
.protoImages-showGroup > .items-end > .end-item{width: 300px; height: 640px; float: left; border: 2px solid black; border-radius: 12px;}

.protoImages-showGroup > .items-end > .end-item:nth-child(1){background: url("../img/last-01.png") no-repeat center; background-size: cover;}
.protoImages-showGroup > .items-end > .end-item:nth-child(2){background: url("../img/last-02.png") no-repeat center; background-size: cover;}
.protoImages-showGroup > .items-end > .end-item:nth-child(3){background: url("../img/last-03.png") no-repeat center; background-size: cover;}
.protoImages-showGroup > .items-end > .end-item:nth-child(4){background: url("../img/last-04.png") no-repeat center; background-size: cover;}





/* SOMETHM ////////////////////*/
.somesec{width:100%; height: auto; background-color: #151515; margin-bottom: 2px; text-align: center;}
.somesec > .inner{width: 100%;}

.some-sec{width: 100%; margin: 0 auto; text-align: center;}
.some-sec > .conts { margin: 0 auto;}



