@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html, button{font-family: 'Noto Sans KR', sans-serif; font-size: 18px; color: #151515;}


h1{font-size: 1.778rem; font-weight: 400;}
p{padding: 0.1rem 0; line-height: 1.75rem;}
.branName, span{font-size: 0.778rem;}

.title > h1{font-size: 1.778rem; margin-bottom: 0.75rem;}
.title > p{font-size: 1rem;}

.project-bg-area h1{color: white;}
.project-bg-area p{color: #D9D9D9; font-weight: 400;}


.bubble-groups > li > p,
.pro-asisstant-answer > p,
.show-proBubbles > p,
.brand-font > .other-siteFont > .otherBrand-inner > .other-font-size > p,
.pro-asisstant-answer > .asisstant-speech > p{font-size: 1rem;}

.bubble-groups > li > p,
.pro-asisstant-answer > p,
.show-proBubbles > p,
.pro-asisstant-answer > .asisstant-speech p{padding-left: 2rem;}

.layout-topTitle{text-align: center; padding: 7.8rem 0 4.6rem 0;}
.layout-topTitle > h1{padding-bottom: 0.8rem;}

.checek-tail-inner span,
.inData-item > span{color:#70757A;}

.update-group > p{font-size: 1rem;}